In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('Algria_population_admin.csv')

In [16]:
df

,Unnamed: 0,0,1,2,3,4,5
0,0,Name,Status,Native,Population Census 1998-06-25,Population Census 2008-04-14,NaN
1,1,Adrar,Province,أدرار,"311,615","399,714",NaN
2,2,Adrar,Province Capital,أدرار,"43,903","64,781",NaN
3,3,Akabli,Commune,أقبلى,"7,513","10,171",NaN
4,4,Aougrout,Commune,أوقرت,"9,878","11,784",NaN
...,...,...,...,...,...,...,...
1585,1585,Terny Beni Hdiel,Commune,تيرنى بنى هديل,"4,637","5,737",NaN
1586,1586,Tienet,Commune,تيانت,"4,686","4,493",NaN
1587,1587,Tlemcen,Province Capital,تلمسان,"132,341","140,158",NaN
1588,1588,Zenata,Commune,زناتة,"3,190","3,890",NaN
1589,1589,Algérie [ Algeria ],Republic,الجزائر,"29,100,867","34,080,030",NaN

In [17]:
df = df.drop(columns=['Unnamed: 0','5'],axis=1)

In [18]:
df

,0,1,2,3,4
0,Name,Status,Native,Population Census 1998-06-25,Population Census 2008-04-14
1,Adrar,Province,أدرار,"311,615","399,714"
2,Adrar,Province Capital,أدرار,"43,903","64,781"
3,Akabli,Commune,أقبلى,"7,513","10,171"
4,Aougrout,Commune,أوقرت,"9,878","11,784"
...,...,...,...,...,...
1585,Terny Beni Hdiel,Commune,تيرنى بنى هديل,"4,637","5,737"
1586,Tienet,Commune,تيانت,"4,686","4,493"
1587,Tlemcen,Province Capital,تلمسان,"132,341","140,158"
1588,Zenata,Commune,زناتة,"3,190","3,890"
1589,Algérie [ Algeria ],Republic,الجزائر,"29,100,867","34,080,030"

In [19]:
columns = df.iloc[0]
df = df.iloc[1:]

In [20]:
df.columns = columns

In [21]:
df

,Name,Status,Native,Population Census 1998-06-25,Population Census 2008-04-14
1,Adrar,Province,أدرار,"311,615","399,714"
2,Adrar,Province Capital,أدرار,"43,903","64,781"
3,Akabli,Commune,أقبلى,"7,513","10,171"
4,Aougrout,Commune,أوقرت,"9,878","11,784"
5,Aoulef,Commune,أولف,"15,229","21,723"
...,...,...,...,...,...
1585,Terny Beni Hdiel,Commune,تيرنى بنى هديل,"4,637","5,737"
1586,Tienet,Commune,تيانت,"4,686","4,493"
1587,Tlemcen,Province Capital,تلمسان,"132,341","140,158"
1588,Zenata,Commune,زناتة,"3,190","3,890"
1589,Algérie [ Algeria ],Republic,الجزائر,"29,100,867","34,080,030"

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589 entries, 1 to 1589
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          1589 non-null   object
 1   Status                        1589 non-null   object
 2   Native                        1589 non-null   object
 3   Population Census 1998-06-25  1589 non-null   object
 4   Population Census 2008-04-14  1589 non-null   object
dtypes: object(5)
memory usage: 62.2+ KB

In [27]:
df = df.rename(columns={'Name':'City'})

In [28]:
df

,City,Status,Native,Population Census 1998-06-25,Population Census 2008-04-14
1,Adrar,Province,أدرار,"311,615","399,714"
2,Adrar,Province Capital,أدرار,"43,903","64,781"
3,Akabli,Commune,أقبلى,"7,513","10,171"
4,Aougrout,Commune,أوقرت,"9,878","11,784"
5,Aoulef,Commune,أولف,"15,229","21,723"
...,...,...,...,...,...
1585,Terny Beni Hdiel,Commune,تيرنى بنى هديل,"4,637","5,737"
1586,Tienet,Commune,تيانت,"4,686","4,493"
1587,Tlemcen,Province Capital,تلمسان,"132,341","140,158"
1588,Zenata,Commune,زناتة,"3,190","3,890"
1589,Algérie [ Algeria ],Republic,الجزائر,"29,100,867","34,080,030"

In [29]:
df['Population Census 1998-06-25'] = df['Population Census 1998-06-25'].str.replace(',','')

In [31]:
df['Population Census 2008-04-14'] = df['Population Census 2008-04-14'].str.replace(',','')

In [32]:
df

,City,Status,Native,Population Census 1998-06-25,Population Census 2008-04-14
1,Adrar,Province,أدرار,311615,399714
2,Adrar,Province Capital,أدرار,43903,64781
3,Akabli,Commune,أقبلى,7513,10171
4,Aougrout,Commune,أوقرت,9878,11784
5,Aoulef,Commune,أولف,15229,21723
...,...,...,...,...,...
1585,Terny Beni Hdiel,Commune,تيرنى بنى هديل,4637,5737
1586,Tienet,Commune,تيانت,4686,4493
1587,Tlemcen,Province Capital,تلمسان,132341,140158
1588,Zenata,Commune,زناتة,3190,3890
1589,Algérie [ Algeria ],Republic,الجزائر,29100867,34080030

In [33]:
df['Population Census 1998-06-25'] = df['Population Census 1998-06-25'].astype('int')

In [34]:
df['Population Census 2008-04-14'] = df['Population Census 2008-04-14'].astype('int')

In [35]:
df

,City,Status,Native,Population Census 1998-06-25,Population Census 2008-04-14
1,Adrar,Province,أدرار,311615,399714
2,Adrar,Province Capital,أدرار,43903,64781
3,Akabli,Commune,أقبلى,7513,10171
4,Aougrout,Commune,أوقرت,9878,11784
5,Aoulef,Commune,أولف,15229,21723
...,...,...,...,...,...
1585,Terny Beni Hdiel,Commune,تيرنى بنى هديل,4637,5737
1586,Tienet,Commune,تيانت,4686,4493
1587,Tlemcen,Province Capital,تلمسان,132341,140158
1588,Zenata,Commune,زناتة,3190,3890
1589,Algérie [ Algeria ],Republic,الجزائر,29100867,34080030

In [36]:
df.describe()

0      Population Census 1998-06-25  Population Census 2008-04-14
count                  1.589000e+03                  1.589000e+03
mean                   5.494185e+04                  6.434240e+04
std                    7.399906e+05                  8.663846e+05
min                    1.010000e+02                  2.600000e+02
25%                    6.507000e+03                  7.327000e+03
50%                    1.114700e+04                  1.264200e+04
75%                    2.100400e+04                  2.498300e+04
max                    2.910087e+07                  3.408003e+07

In [37]:
melted_df = df.melt(id_vars=['City','Status','Native'],var_name='Year',value_name='Value')

In [38]:
melted_df

,City,Status,Native,Year,Value
0,Adrar,Province,أدرار,Population Census 1998-06-25,311615
1,Adrar,Province Capital,أدرار,Population Census 1998-06-25,43903
2,Akabli,Commune,أقبلى,Population Census 1998-06-25,7513
3,Aougrout,Commune,أوقرت,Population Census 1998-06-25,9878
4,Aoulef,Commune,أولف,Population Census 1998-06-25,15229
...,...,...,...,...,...
3173,Terny Beni Hdiel,Commune,تيرنى بنى هديل,Population Census 2008-04-14,5737
3174,Tienet,Commune,تيانت,Population Census 2008-04-14,4493
3175,Tlemcen,Province Capital,تلمسان,Population Census 2008-04-14,140158
3176,Zenata,Commune,زناتة,Population Census 2008-04-14,3890
3177,Algérie [ Algeria ],Republic,الجزائر,Population Census 2008-04-14,34080030

In [43]:
melted_df['Year'] = melted_df['Year'].replace('Population Census 1998-06-25', '1998')
melted_df['Year'] = melted_df['Year'].replace('Population Census 2008-04-14', '2008')

In [44]:
melted_df

                     City            Status          Native  Year     Value
0                   Adrar          Province           أدرار  1998    311615
1                   Adrar  Province Capital           أدرار  1998     43903
2                  Akabli           Commune           أقبلى  1998      7513
3                Aougrout           Commune           أوقرت  1998      9878
4                  Aoulef           Commune            أولف  1998     15229
...                   ...               ...             ...   ...       ...
3173     Terny Beni Hdiel           Commune  تيرنى بنى هديل  2008      5737
3174               Tienet           Commune           تيانت  2008      4493
3175              Tlemcen  Province Capital          تلمسان  2008    140158
3176               Zenata           Commune           زناتة  2008      3890
3177  Algérie [ Algeria ]          Republic         الجزائر  2008  34080030

[3178 rows x 5 columns]