In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("population-houseshold-kenya-data-2019.csv")

In [8]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"Distribution of Population, Number of Househol...",NaN,NaN,NaN
1,Source: 2019 Kenya Population and Housing Cens...,NaN,NaN,NaN
2,https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...,NaN,NaN,NaN
3,"Population, Households, Household size, County...",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,name,Population,No.of Households,Avg Household size
6,Kenya,47213282,12143913,39
7,Mombasa,1190987,378422,31
8,Kwale,858748,173176,50
9,Kilifi,1440958,298472,48
10,Tana River,314710,68242,46
11,Lamu,141909,37963,37
12,Taita-Taveta,335747,96429,35
13,Garissa,835482,141394,59
14,Wajir,775302,127932,61
15,Mandera,862079,125763,69
16,Marsabit,447150,77495,58
17,Isiolo,267997,58072,46
18,Meru,1535635,426360,36
19,Tharaka-Nithi,391303,109860,36
20,Embu,604769,182743,33
21,Kitui,1130134,262942,43
22,Machakos,1414022,402466,35
23,Makueni,977015,244669,40
24,Nyandarua,636002,179686,35
25,Nyeri,752695,248050,30
26,Kirinyaga,605630,204188,30
27,Murang'a,1053059,318105,33
28,Kiambu,2402834,795241,30
29,Turkana,922210,164519,56
30,West Pokot,618867,116182,53
31,Samburu,307957,65910,47
32,Trans Nzoia,985333,223808,44
33,Uasin Gishu,1152671,304943,38
34,Elgeyo-Marakwet,453403,99861,45
35,Nandi,883634,199426,44
36,Baringo,662760,142518,47
37,Laikipia,513879,149271,34
38,Nakuru,2142667,616046,35
39,Narok,1149379,241125,48
40,Kajiado,1107296,316179,35
41,Kericho,896863,206036,44
42,Bomet,873023,187641,47
43,Kakamega,1861332,433207,43
44,Vihiga,587189,143365,41
45,Bungoma,1663898,358796,46
46,Busia,886856,198152,45
47,Siaya,989708,250698,39
48,Kisumu,1144777,300745,38
49,Homa Bay,1125823,262036,43
50,Migori,1108950,240168,46
51,Kisii,1260509,308054,41
52,Nyamira,603051,150669,40
53,Nairobi,4337080,1506888,29

### Delete rows and change column names

In [9]:
df = df.drop(labels=range(0, 6), axis=0)

In [10]:
df = df.reset_index()
df

    index       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0       6            Kenya   47213282   12143913         39
1       7          Mombasa    1190987     378422         31
2       8            Kwale     858748     173176         50
3       9           Kilifi    1440958     298472         48
4      10       Tana River     314710      68242         46
5      11             Lamu     141909      37963         37
6      12     Taita-Taveta     335747      96429         35
7      13          Garissa     835482     141394         59
8      14            Wajir     775302     127932         61
9      15          Mandera     862079     125763         69
10     16         Marsabit     447150      77495         58
11     17           Isiolo     267997      58072         46
12     18             Meru    1535635     426360         36
13     19    Tharaka-Nithi     391303     109860         36
14     20             Embu     604769     182743         33
15     21            Kitui    1130134     262942         43
16     22         Machakos    1414022     402466         35
17     23          Makueni     977015     244669         40
18     24        Nyandarua     636002     179686         35
19     25            Nyeri     752695     248050         30
20     26        Kirinyaga     605630     204188         30
21     27         Murang'a    1053059     318105         33
22     28           Kiambu    2402834     795241         30
23     29          Turkana     922210     164519         56
24     30       West Pokot     618867     116182         53
25     31          Samburu     307957      65910         47
26     32      Trans Nzoia     985333     223808         44
27     33      Uasin Gishu    1152671     304943         38
28     34  Elgeyo-Marakwet     453403      99861         45
29     35            Nandi     883634     199426         44
30     36          Baringo     662760     142518         47
31     37         Laikipia     513879     149271         34
32     38           Nakuru    2142667     616046         35
33     39            Narok    1149379     241125         48
34     40          Kajiado    1107296     316179         35
35     41          Kericho     896863     206036         44
36     42            Bomet     873023     187641         47
37     43         Kakamega    1861332     433207         43
38     44           Vihiga     587189     143365         41
39     45          Bungoma    1663898     358796         46
40     46            Busia     886856     198152         45
41     47            Siaya     989708     250698         39
42     48           Kisumu    1144777     300745         38
43     49         Homa Bay    1125823     262036         43
44     50           Migori    1108950     240168         46
45     51            Kisii    1260509     308054         41
46     52          Nyamira     603051     150669         40
47     53          Nairobi    4337080    1506888         29

In [11]:
df = df.drop(columns=['index'],axis=1)

In [12]:
df

         Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0             Kenya   47213282   12143913         39
1           Mombasa    1190987     378422         31
2             Kwale     858748     173176         50
3            Kilifi    1440958     298472         48
4        Tana River     314710      68242         46
5              Lamu     141909      37963         37
6      Taita-Taveta     335747      96429         35
7           Garissa     835482     141394         59
8             Wajir     775302     127932         61
9           Mandera     862079     125763         69
10         Marsabit     447150      77495         58
11           Isiolo     267997      58072         46
12             Meru    1535635     426360         36
13    Tharaka-Nithi     391303     109860         36
14             Embu     604769     182743         33
15            Kitui    1130134     262942         43
16         Machakos    1414022     402466         35
17          Makueni     977015     244669         40
18        Nyandarua     636002     179686         35
19            Nyeri     752695     248050         30
20        Kirinyaga     605630     204188         30
21         Murang'a    1053059     318105         33
22           Kiambu    2402834     795241         30
23          Turkana     922210     164519         56
24       West Pokot     618867     116182         53
25          Samburu     307957      65910         47
26      Trans Nzoia     985333     223808         44
27      Uasin Gishu    1152671     304943         38
28  Elgeyo-Marakwet     453403      99861         45
29            Nandi     883634     199426         44
30          Baringo     662760     142518         47
31         Laikipia     513879     149271         34
32           Nakuru    2142667     616046         35
33            Narok    1149379     241125         48
34          Kajiado    1107296     316179         35
35          Kericho     896863     206036         44
36            Bomet     873023     187641         47
37         Kakamega    1861332     433207         43
38           Vihiga     587189     143365         41
39          Bungoma    1663898     358796         46
40            Busia     886856     198152         45
41            Siaya     989708     250698         39
42           Kisumu    1144777     300745         38
43         Homa Bay    1125823     262036         43
44           Migori    1108950     240168         46
45            Kisii    1260509     308054         41
46          Nyamira     603051     150669         40
47          Nairobi    4337080    1506888         29

In [13]:
df = df.rename(columns={'Unnamed: 0':'city','Unnamed: 1':'Population','Unnamed: 2':'No.of Households','Unnamed: 3':'Avg Household size'})

In [14]:
df

               city Population No.of Households Avg Household size
0             Kenya   47213282         12143913                 39
1           Mombasa    1190987           378422                 31
2             Kwale     858748           173176                 50
3            Kilifi    1440958           298472                 48
4        Tana River     314710            68242                 46
5              Lamu     141909            37963                 37
6      Taita-Taveta     335747            96429                 35
7           Garissa     835482           141394                 59
8             Wajir     775302           127932                 61
9           Mandera     862079           125763                 69
10         Marsabit     447150            77495                 58
11           Isiolo     267997            58072                 46
12             Meru    1535635           426360                 36
13    Tharaka-Nithi     391303           109860                 36
14             Embu     604769           182743                 33
15            Kitui    1130134           262942                 43
16         Machakos    1414022           402466                 35
17          Makueni     977015           244669                 40
18        Nyandarua     636002           179686                 35
19            Nyeri     752695           248050                 30
20        Kirinyaga     605630           204188                 30
21         Murang'a    1053059           318105                 33
22           Kiambu    2402834           795241                 30
23          Turkana     922210           164519                 56
24       West Pokot     618867           116182                 53
25          Samburu     307957            65910                 47
26      Trans Nzoia     985333           223808                 44
27      Uasin Gishu    1152671           304943                 38
28  Elgeyo-Marakwet     453403            99861                 45
29            Nandi     883634           199426                 44
30          Baringo     662760           142518                 47
31         Laikipia     513879           149271                 34
32           Nakuru    2142667           616046                 35
33            Narok    1149379           241125                 48
34          Kajiado    1107296           316179                 35
35          Kericho     896863           206036                 44
36            Bomet     873023           187641                 47
37         Kakamega    1861332           433207                 43
38           Vihiga     587189           143365                 41
39          Bungoma    1663898           358796                 46
40            Busia     886856           198152                 45
41            Siaya     989708           250698                 39
42           Kisumu    1144777           300745                 38
43         Homa Bay    1125823           262036                 43
44           Migori    1108950           240168                 46
45            Kisii    1260509           308054                 41
46          Nyamira     603051           150669                 40
47          Nairobi    4337080          1506888                 29

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                48 non-null     object
 1   Population          48 non-null     object
 2   No.of Households    48 non-null     object
 3   Avg Household size  48 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

In [16]:
# Change dtype
df['Population'] = df['Population'].astype('int')
df['No.of Households'] = df['No.of Households'].astype('int')
df['Avg Household size'] = df['Avg Household size'].astype('int')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                48 non-null     object
 1   Population          48 non-null     int32
 2   No.of Households    48 non-null     int32
 3   Avg Household size  48 non-null     int32
dtypes: int32(3), object(1)
memory usage: 1.1+ KB

In [18]:
df.describe()

         Population  No.of Households  Avg Household size
count  4.800000e+01      4.800000e+01           48.000000
mean   1.967220e+06      5.059964e+05           42.250000
std    6.704047e+06      1.731138e+06            8.760404
min    1.419090e+05      3.796300e+04           29.000000
25%    6.054148e+05      1.422370e+05           35.000000
50%    8.918595e+05      2.051120e+05           42.000000
75%    1.150202e+06      3.057208e+05           46.250000
max    4.721328e+07      1.214391e+07           69.000000

In [22]:
df

               city  Population  No.of Households  Avg Household size
0             Kenya    47213282          12143913                  39
1           Mombasa     1190987            378422                  31
2             Kwale      858748            173176                  50
3            Kilifi     1440958            298472                  48
4        Tana River      314710             68242                  46
5              Lamu      141909             37963                  37
6      Taita-Taveta      335747             96429                  35
7           Garissa      835482            141394                  59
8             Wajir      775302            127932                  61
9           Mandera      862079            125763                  69
10         Marsabit      447150             77495                  58
11           Isiolo      267997             58072                  46
12             Meru     1535635            426360                  36
13    Tharaka-Nithi      391303            109860                  36
14             Embu      604769            182743                  33
15            Kitui     1130134            262942                  43
16         Machakos     1414022            402466                  35
17          Makueni      977015            244669                  40
18        Nyandarua      636002            179686                  35
19            Nyeri      752695            248050                  30
20        Kirinyaga      605630            204188                  30
21         Murang'a     1053059            318105                  33
22           Kiambu     2402834            795241                  30
23          Turkana      922210            164519                  56
24       West Pokot      618867            116182                  53
25          Samburu      307957             65910                  47
26      Trans Nzoia      985333            223808                  44
27      Uasin Gishu     1152671            304943                  38
28  Elgeyo-Marakwet      453403             99861                  45
29            Nandi      883634            199426                  44
30          Baringo      662760            142518                  47
31         Laikipia      513879            149271                  34
32           Nakuru     2142667            616046                  35
33            Narok     1149379            241125                  48
34          Kajiado     1107296            316179                  35
35          Kericho      896863            206036                  44
36            Bomet      873023            187641                  47
37         Kakamega     1861332            433207                  43
38           Vihiga      587189            143365                  41
39          Bungoma     1663898            358796                  46
40            Busia      886856            198152                  45
41            Siaya      989708            250698                  39
42           Kisumu     1144777            300745                  38
43         Homa Bay     1125823            262036                  43
44           Migori     1108950            240168                  46
45            Kisii     1260509            308054                  41
46          Nyamira      603051            150669                  40
47          Nairobi     4337080           1506888                  29

In [24]:
df=df.iloc[1:]

In [27]:
df['country'] = 'Kenya'

C:\Users\riley\AppData\Local\Temp\ipykernel_84684\4207019988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'] = 'Kenya'

In [29]:
df['year'] = '2019'

C:\Users\riley\AppData\Local\Temp\ipykernel_84684\2137184485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = '2019'

In [30]:
df

,city,Population,No.of Households,Avg Household size,country,year
1,Mombasa,1190987,378422,31,Kenya,2019
2,Kwale,858748,173176,50,Kenya,2019
3,Kilifi,1440958,298472,48,Kenya,2019
4,Tana River,314710,68242,46,Kenya,2019
5,Lamu,141909,37963,37,Kenya,2019
6,Taita-Taveta,335747,96429,35,Kenya,2019
7,Garissa,835482,141394,59,Kenya,2019
8,Wajir,775302,127932,61,Kenya,2019
9,Mandera,862079,125763,69,Kenya,2019
10,Marsabit,447150,77495,58,Kenya,2019
11,Isiolo,267997,58072,46,Kenya,2019
12,Meru,1535635,426360,36,Kenya,2019
13,Tharaka-Nithi,391303,109860,36,Kenya,2019
14,Embu,604769,182743,33,Kenya,2019
15,Kitui,1130134,262942,43,Kenya,2019
16,Machakos,1414022,402466,35,Kenya,2019
17,Makueni,977015,244669,40,Kenya,2019
18,Nyandarua,636002,179686,35,Kenya,2019
19,Nyeri,752695,248050,30,Kenya,2019
20,Kirinyaga,605630,204188,30,Kenya,2019
21,Murang'a,1053059,318105,33,Kenya,2019
22,Kiambu,2402834,795241,30,Kenya,2019
23,Turkana,922210,164519,56,Kenya,2019
24,West Pokot,618867,116182,53,Kenya,2019
25,Samburu,307957,65910,47,Kenya,2019
26,Trans Nzoia,985333,223808,44,Kenya,2019
27,Uasin Gishu,1152671,304943,38,Kenya,2019
28,Elgeyo-Marakwet,453403,99861,45,Kenya,2019
29,Nandi,883634,199426,44,Kenya,2019
30,Baringo,662760,142518,47,Kenya,2019
31,Laikipia,513879,149271,34,Kenya,2019
32,Nakuru,2142667,616046,35,Kenya,2019
33,Narok,1149379,241125,48,Kenya,2019
34,Kajiado,1107296,316179,35,Kenya,2019
35,Kericho,896863,206036,44,Kenya,2019
36,Bomet,873023,187641,47,Kenya,2019
37,Kakamega,1861332,433207,43,Kenya,2019
38,Vihiga,587189,143365,41,Kenya,2019
39,Bungoma,1663898,358796,46,Kenya,2019
40,Busia,886856,198152,45,Kenya,2019
41,Siaya,989708,250698,39,Kenya,2019
42,Kisumu,1144777,300745,38,Kenya,2019
43,Homa Bay,1125823,262036,43,Kenya,2019
44,Migori,1108950,240168,46,Kenya,2019
45,Kisii,1260509,308054,41,Kenya,2019
46,Nyamira,603051,150669,40,Kenya,2019
47,Nairobi,4337080,1506888,29,Kenya,2019