In [24]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("C:\\Users\\riley\\OneDrive\\Desktop\\Urban Developing Omdena\\SHDI-SGDI-Total 7.0.csv")

C:\Users\riley\AppData\Local\Temp\ipykernel_36448\198217105.py:1: DtypeWarning: Columns (11,14,17,20,23,26,29,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\riley\\OneDrive\\Desktop\\Urban Developing Omdena\\SHDI-SGDI-Total 7.0.csv")

In [11]:
df.head()

,iso_code,country,year,GDLCODE,level,region,continent,sgdi,shdi,shdif,...,lifexp,lifexpf,lifexpm,gnic,gnicf,gnicm,lgnic,lgnicf,lgnicm,pop
0,AFG,Afghanistan,1990,AFGr101,Subnat,Central (Kabul Wardak Kapisa Logar Parwan Panj...,Asia/Pacific,,.332,,...,46.975,,,3549.393,,,8.175,,,
1,AFG,Afghanistan,1990,AFGr102,Subnat,Central Highlands (Bamyan Daikundi),Asia/Pacific,,.281,,...,44.402,,,2224.831,,,7.707,,,
2,AFG,Afghanistan,1990,AFGr103,Subnat,East (Nangarhar Kunar Laghman Nooristan),Asia/Pacific,,.287,,...,49.445,,,2279.29,,,7.732,,,
3,AFG,Afghanistan,1990,AFGr104,Subnat,North (Samangan Sar-e-Pul Balkh Jawzjan Faryab),Asia/Pacific,,.259,,...,44.385,,,2356.842,,,7.765,,,
4,AFG,Afghanistan,1990,AFGr105,Subnat,North East (Baghlan Takhar Badakhshan Kunduz),Asia/Pacific,,.266,,...,46.269,,,2623.883,,,7.872,,,

In [12]:
african_countries = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic (CAR)', 'Chad', 'Comoros', 'Democratic Republic of the Congo', 'Republic of the Congo', 'Cote d\'Ivoire', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini (formerly Swaziland)', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

In [13]:
df = df[df['country'].isin(african_countries)]

In [16]:
df.drop('continent', axis=1, inplace=True)

In [19]:
df.columns

Index(['iso_code', 'country', 'year', 'GDLCODE', 'level', 'region', 'sgdi',
       'shdi', 'shdif', 'shdim', 'healthindex', 'healthindexf', 'healthindexm',
       'incindex', 'incindexf', 'incindexm', 'edindex', 'edindexf', 'edindexm',
       'esch', 'eschf', 'eschm', 'msch', 'mschf', 'mschm', 'lifexp', 'lifexpf',
       'lifexpm', 'gnic', 'gnicf', 'gnicm', 'lgnic', 'lgnicf', 'lgnicm',
       'pop'],
      dtype='object')

In [22]:
df.head()

,iso_code,country,year,GDLCODE,level,region,sgdi,shdi,shdif,shdim,...,lifexp,lifexpf,lifexpm,gnic,gnicf,gnicm,lgnic,lgnicf,lgnicm,pop
288,AGO,Angola,1999,AGOr201,Subnat,Cabinda,,.401,,,...,43.228,,,6407.467,,,8.765,,,
289,AGO,Angola,1999,AGOr202,Subnat,Zaire,,.336,,,...,50.945,,,1612.003,,,7.385,,,
290,AGO,Angola,1999,AGOr203,Subnat,Uige,,.348,,,...,45.54,,,2658.305,,,7.885,,,
291,AGO,Angola,1999,AGOr204,Subnat,Luanda,,.46,,,...,48.215,,,10434.693,,,9.253,,,
292,AGO,Angola,1999,AGOr205,Subnat,Kuanza Norte,,.301,,,...,42.342,,,2044.276,,,7.623,,,

In [23]:
df.repalce()

288
289
290
291
292
         ...
58879    .958
58880    .962
58881    .962
58882    .985
58883    .961
Name: sgdi, Length: 14955, dtype: object

In [25]:
df = df.replace(r'^\s*$', np.nan, regex=True) # Replace all blanks with nulls

In [26]:
df

,iso_code,country,year,GDLCODE,level,region,sgdi,shdi,shdif,shdim,...,lifexp,lifexpf,lifexpm,gnic,gnicf,gnicm,lgnic,lgnicf,lgnicm,pop
288,AGO,Angola,1999,AGOr201,Subnat,Cabinda,NaN,.401,NaN,NaN,...,43.228,NaN,NaN,6407.467,NaN,NaN,8.765,NaN,NaN,NaN
289,AGO,Angola,1999,AGOr202,Subnat,Zaire,NaN,.336,NaN,NaN,...,50.945,NaN,NaN,1612.003,NaN,NaN,7.385,NaN,NaN,NaN
290,AGO,Angola,1999,AGOr203,Subnat,Uige,NaN,.348,NaN,NaN,...,45.54,NaN,NaN,2658.305,NaN,NaN,7.885,NaN,NaN,NaN
291,AGO,Angola,1999,AGOr204,Subnat,Luanda,NaN,.46,NaN,NaN,...,48.215,NaN,NaN,10434.693,NaN,NaN,9.253,NaN,NaN,NaN
292,AGO,Angola,1999,AGOr205,Subnat,Kuanza Norte,NaN,.301,NaN,NaN,...,42.342,NaN,NaN,2044.276,NaN,NaN,7.623,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58879,ZWE,Zimbabwe,2021,ZWEr107,Subnat,Midlands,.958,.59,.577,.602,...,58.544,61.193,55.566,3670.709,3168.011,4233.422,8.208,8.061,8.351,NaN
58880,ZWE,Zimbabwe,2021,ZWEr108,Subnat,Masvingo,.962,.588,.578,.601,...,62.276,65.641,59.025,3127.485,2706.948,3596.899,8.048,7.904,8.188,NaN
58881,ZWE,Zimbabwe,2021,ZWEr109,Subnat,Harare,.962,.665,.652,.678,...,60.261,63.25,57.171,7314.452,6235.132,8537.414,8.898,8.738,9.052,NaN
58882,ZWE,Zimbabwe,2021,ZWEr110,Subnat,Bulawayo,.985,.693,.689,.699,...,62.628,66.056,59.346,9516.362,8073.914,11158.386,9.161,8.996,9.32,NaN
58883,ZWE,Zimbabwe,2021,ZWEt,National,Total,.961,.593,.58,.604,...,59.253,62.045,56.232,3809.887,3285.934,4396.778,8.245,8.097,8.389,NaN

In [27]:
df.isnull().sum()/len(df)

iso_code        0.000000
country         0.000000
year            0.000000
GDLCODE         0.000000
level           0.000000
region          0.000000
sgdi            0.323571
shdi            0.000401
shdif           0.323504
shdim           0.323571
healthindex     0.000000
healthindexf    0.306118
healthindexm    0.306118
incindex        0.000000
incindexf       0.306118
incindexm       0.306118
edindex         0.000000
edindexf        0.323504
edindexm        0.323571
esch            0.000000
eschf           0.322166
eschm           0.322233
msch            0.000000
mschf           0.322701
mschm           0.322701
lifexp          0.000000
lifexpf         0.306118
lifexpm         0.306118
gnic            0.000000
gnicf           0.306118
gnicm           0.306118
lgnic           0.000000
lgnicf          0.306118
lgnicm          0.306118
pop             1.000000
dtype: float64

In [28]:
df.drop('pop', axis=1, inplace=True)

In [31]:
df

,iso_code,country,year,GDLCODE,level,region,sgdi,shdi,shdif,shdim,...,mschm,lifexp,lifexpf,lifexpm,gnic,gnicf,gnicm,lgnic,lgnicf,lgnicm
288,AGO,Angola,1999,AGOr201,Subnat,Cabinda,NaN,.401,NaN,NaN,...,NaN,43.228,NaN,NaN,6407.467,NaN,NaN,8.765,NaN,NaN
289,AGO,Angola,1999,AGOr202,Subnat,Zaire,NaN,.336,NaN,NaN,...,NaN,50.945,NaN,NaN,1612.003,NaN,NaN,7.385,NaN,NaN
290,AGO,Angola,1999,AGOr203,Subnat,Uige,NaN,.348,NaN,NaN,...,NaN,45.54,NaN,NaN,2658.305,NaN,NaN,7.885,NaN,NaN
291,AGO,Angola,1999,AGOr204,Subnat,Luanda,NaN,.46,NaN,NaN,...,NaN,48.215,NaN,NaN,10434.693,NaN,NaN,9.253,NaN,NaN
292,AGO,Angola,1999,AGOr205,Subnat,Kuanza Norte,NaN,.301,NaN,NaN,...,NaN,42.342,NaN,NaN,2044.276,NaN,NaN,7.623,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58879,ZWE,Zimbabwe,2021,ZWEr107,Subnat,Midlands,.958,.59,.577,.602,...,9.045,58.544,61.193,55.566,3670.709,3168.011,4233.422,8.208,8.061,8.351
58880,ZWE,Zimbabwe,2021,ZWEr108,Subnat,Masvingo,.962,.588,.578,.601,...,8.685,62.276,65.641,59.025,3127.485,2706.948,3596.899,8.048,7.904,8.188
58881,ZWE,Zimbabwe,2021,ZWEr109,Subnat,Harare,.962,.665,.652,.678,...,11.114,60.261,63.25,57.171,7314.452,6235.132,8537.414,8.898,8.738,9.052
58882,ZWE,Zimbabwe,2021,ZWEr110,Subnat,Bulawayo,.985,.693,.689,.699,...,10.541,62.628,66.056,59.346,9516.362,8073.914,11158.386,9.161,8.996,9.32
58883,ZWE,Zimbabwe,2021,ZWEt,National,Total,.961,.593,.58,.604,...,9.191,59.253,62.045,56.232,3809.887,3285.934,4396.778,8.245,8.097,8.389

In [29]:
df.to_csv("SHDI-SGDI-Total 7.0_preprocessed.csv")