In [57]:
import numpy as np
import pandas as pd
import re

In [107]:
df = pd.read_csv(r'C:\Users\chimi\Desktop\Python Data Science Projects\Urban Modeling Project\Predictive maintenance Model Data\Railways\Cleaned_Data\AfricaRailways.csv')

In [108]:
# Create another copy of df
df_copy = df.copy()

In [109]:
df.shape[0], df.shape[1]

(227737, 5)

In [110]:
# Africa Railways 
df.head(5)

,Country Name,Country Code,Series Name,year,Value
0,"001. Algeria, SNTF",SN_ALG,Transport - Rails: Carriages (number),2005,0.000000
1,"001. Algeria, SNTF",SN_ALG,Transport - Rails: Carriages (number),2005,5.000000
2,"001. Algeria, SNTF",SN_ALG,Transport - Rails: Carriages (number),2005,0.000000
3,"001. Algeria, SNTF",SN_ALG,Transport - Rails: Carriages (number),2005,3572.000000
4,"001. Algeria, SNTF",SN_ALG,Transport - Rails: Carriages (number),2005,276.315789

In [111]:
df.tail(5)

,Country Name,Country Code,Series Name,year,Value
227732,084. State Owned Railways,SOE_Benchmark,"Transport - Rails: Wagon productivity (1,000 n...",1950,4723.254762
227733,084. State Owned Railways,SOE_Benchmark,"Transport - Rails: Wagon productivity (1,000 n...",1950,163.153846
227734,084. State Owned Railways,SOE_Benchmark,"Transport - Rails: Wagon productivity (1,000 n...",1950,167.950764
227735,084. State Owned Railways,SOE_Benchmark,"Transport - Rails: Wagon productivity (1,000 n...",1950,34816.565710
227736,084. State Owned Railways,SOE_Benchmark,"Transport - Rails: Wagon productivity (1,000 n...",1950,897.315263

In [112]:
# Split the Country Name 
split_df = df['Country Name'].str.split(r'\.|, ', expand=True)

In [113]:
split_df.head(5)

     0         1     2     3     4     5
0  001   Algeria  SNTF  None  None  None
1  001   Algeria  SNTF  None  None  None
2  001   Algeria  SNTF  None  None  None
3  001   Algeria  SNTF  None  None  None
4  001   Algeria  SNTF  None  None  None

In [114]:
# Ignore warning
df.loc[:, 'Country Code'] = split_df[0]
df.loc[:, 'Country'] = split_df[1]
df.loc[:, 'Code'] = split_df[2]

In [115]:
# Drop the columns
df = df.drop(columns=['Country Name'])

In [116]:
# New shape of df
df.shape

(227737, 6)

In [117]:
# 
df.head(5)

,Country Code,Series Name,year,Value,Country,Code
0,001,Transport - Rails: Carriages (number),2005,0.000000,Algeria,SNTF
1,001,Transport - Rails: Carriages (number),2005,5.000000,Algeria,SNTF
2,001,Transport - Rails: Carriages (number),2005,0.000000,Algeria,SNTF
3,001,Transport - Rails: Carriages (number),2005,3572.000000,Algeria,SNTF
4,001,Transport - Rails: Carriages (number),2005,276.315789,Algeria,SNTF

In [118]:
# Filter in country values only
# Will use country levels later
country_value_counts = df['Country'].value_counts()
# Print the value_counts
print("Value counts for the 'Country' column:")
print(country_value_counts)

Value counts for the 'Country' column:
 Congo                         21750
 Mozambique                    15660
 Angola                         9222
 Tanzania                       8004
 Zambia                         7917
 Kenya                          7830
 Nigeria                        7656
 Senegal                        7569
 South Africa                   7569
 Gabon                          7221
 Benin                          7047
 Ghana                          7047
 Cameroon                       7047
 Burkina Faso                   6960
 Malawi                         6873
 Mali                           6438
 Uganda                         6380
 Tanzania/Zambia                6090
 Zimbabwe                       5568
 Sudan                          5307
 Namibia                        4930
 Botswana                       4698
 Low Income                     4524
 Ethiopia/Djibouti              4292
 Madagascar                     3915
 Swaziland                      3886
 SSA                            2262
 ECOWAS                         2262
 State Owned Railways           2262
 Non- Stated Owned Railways     2175
 EAC                            2175
 COMESA                         2175
 Resource Rich                  2175
 CEMAC                          2088
 SADC                           2001
 Togo                           1827
 Middle Income                  1798
 Liberia                        1566
 Guinée Conakry                 1479
 Mali/Senegal                   1392
 Botwsana                        957
 Djibouti                        870
 Ethiopia                        870
 Sierra Leone                    783
 Côte dIvoire                   783
 Morocco                         783
 Egypt                           783
 Tunisia                         783
 Mauritania                      783
 Algeria                         783
 Eritrea                         522
Name: Country, dtype: int64

In [119]:
# Strip the whitespaces in Country column
df['Country'] = df['Country'].str.strip()

In [120]:
# Remove all the extra spaces from the 'Country' column
df['Country'] = df['Country'].str.replace('\s+', ' ', regex=True).str.strip()

In [121]:
# Filter out non-country columns 
# Create two df with filtered values and country levels
values_to_filter_out = ['Low Income', 'ECOWAS', 'SSA', 'State Owned Railways', 'Non- Stated Owned Railways', 'EAC', 'COMESA', 'Resource Rich', 'CEMAC', 'SADC', 'Middle Income']

In [122]:
# Filtered df based on countries and levels
# Create a df filtered based on country
df_country = df[~df['Country'].isin(values_to_filter_out)]

In [123]:
# Count the new values for df_country
df_countrycount = df_country['Country'].value_counts()

In [124]:
print(df_countrycount)

Congo                21750
Mozambique           15660
Angola                9222
Tanzania              8004
Zambia                7917
Kenya                 7830
Nigeria               7656
South Africa          7569
Senegal               7569
Gabon                 7221
Cameroon              7047
Benin                 7047
Ghana                 7047
Burkina Faso          6960
Malawi                6873
Mali                  6438
Uganda                6380
Tanzania/Zambia       6090
Zimbabwe              5568
Sudan                 5307
Namibia               4930
Botswana              4698
Ethiopia/Djibouti     4292
Madagascar            3915
Swaziland             3886
Togo                  1827
Liberia               1566
Guinée Conakry        1479
Mali/Senegal          1392
Botwsana               957
Ethiopia               870
Djibouti               870
Côte dIvoire          783
Tunisia                783
Sierra Leone           783
Egypt                  783
Morocco                783
Mauritania             783
Algeria                783
Eritrea                522
Name: Country, dtype: int64

In [125]:
# Create a new pivot table based on Series value
pivoted_countrydf = df_country.pivot_table(index=['year', 'Country', 'Country Code'], columns='Series Name', values='Value')

In [126]:
pivoted_countrydf = pivoted_countrydf.reset_index()

In [127]:
# Display new dataframes rows and columns
pivoted_countrydf.head(5)

Series Name,year,Country,Country Code,"Transport - Rails: Carriage productivity (1,000 passenger-km per carriage)",Transport - Rails: Carriages (number),"Transport - Rails: Concessioned company (1-concessioned, 0-non-concessioned)",Transport - Rails: Employees (number),Transport - Rails: Employees - average 2000 to 2005 (number),"Transport - Rails: Freight (number of tons, annual)","Transport - Rails: Gauge (1-cape, 2-metre, 3-narrow, 4-standard, 5-meter/standard)",...,Transport - Rails: Traffic unit - freight - operated by private rail company (million net ton-km),Transport - Rails: Traffic unit - freight - operated by public rail company (million net ton-km),Transport - Rails: Traffic unit - net tonne-km (million),Transport - Rails: Traffic unit - passenger - long-distance (million passenger-km),Transport - Rails: Traffic unit - passenger - suburban (million passenger-km),Transport - Rails: Traffic unit - passenger and freight (million passenger-km+net tons-km),Transport - Rails: Traffic unit - passenger-km (million),Transport - Rails: Trip length per passenger - average (km per passenger),"Transport - Rails: Wagon productivity (1,000 net tonne-km per wagon)",Transport - Rails: Wagons (number)
0,1950,Algeria,001,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,...,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852,1249.869852
1,1950,Angola,002,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,...,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
2,1950,Angola,003,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999,...,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999,250.252999
3,1950,Angola,004,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700,...,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700,152.927700
4,1950,Angola,005,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991,...,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991,896.024991

In [128]:
pivoted_countrydf.tail(5)

Series Name,year,Country,Country Code,"Transport - Rails: Carriage productivity (1,000 passenger-km per carriage)",Transport - Rails: Carriages (number),"Transport - Rails: Concessioned company (1-concessioned, 0-non-concessioned)",Transport - Rails: Employees (number),Transport - Rails: Employees - average 2000 to 2005 (number),"Transport - Rails: Freight (number of tons, annual)","Transport - Rails: Gauge (1-cape, 2-metre, 3-narrow, 4-standard, 5-meter/standard)",...,Transport - Rails: Traffic unit - freight - operated by private rail company (million net ton-km),Transport - Rails: Traffic unit - freight - operated by public rail company (million net ton-km),Transport - Rails: Traffic unit - net tonne-km (million),Transport - Rails: Traffic unit - passenger - long-distance (million passenger-km),Transport - Rails: Traffic unit - passenger - suburban (million passenger-km),Transport - Rails: Traffic unit - passenger and freight (million passenger-km+net tons-km),Transport - Rails: Traffic unit - passenger-km (million),Transport - Rails: Trip length per passenger - average (km per passenger),"Transport - Rails: Wagon productivity (1,000 net tonne-km per wagon)",Transport - Rails: Wagons (number)
470,2005,Zambia,068,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254,...,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254,612.402254
471,2005,Zambia,069,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527,...,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527,360.630527
472,2005,Zimbabwe,070,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222,...,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222,250.222222
473,2005,Zimbabwe,071,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,...,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571,1169.404571
474,2005,Zimbabwe,072,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,...,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573,1325.141573

In [133]:
pivoted_countrydf.to_csv('African_RailwaysbyCountry.csv', index=False)

In [134]:
# Railways information filtered by Economic Status
income_levelsfilters = ['Low Income','Resource Rich ','Middle Income']
railways_byeconomics = df[df['Country'].isin(income_levelsfilters)]

In [135]:
# Rename the Country Column to Income CountryIncome level
railways_byeconomics = railways_byeconomics.rename(columns={'Country': 'Economic Status', 'Code': 'Railways Status'})

In [136]:
# Drop Country Code
railways_byeconomics.drop(columns=['Country Code'], inplace=True)

In [137]:
# Final columns
railways_byeconomics.columns

Index(['Series Name', 'year', 'Value', 'Economic Status', 'Railways Status'], dtype='object')

In [138]:
# Create a pivot table to create railways information based on country income levels
railways_byeconomics = railways_byeconomics.pivot_table(index=['year', 'Economic Status', 'Railways Status'], columns='Series Name', values='Value')

In [139]:
# Reset the index
railways_byeconomics = railways_byeconomics.reset_index()

In [140]:
railways_byeconomics.head(5)

Series Name,year,Economic Status,Railways Status,"Transport - Rails: Carriage productivity (1,000 passenger-km per carriage)",Transport - Rails: Carriages (number),"Transport - Rails: Concessioned company (1-concessioned, 0-non-concessioned)",Transport - Rails: Employees (number),Transport - Rails: Employees - average 2000 to 2005 (number),"Transport - Rails: Freight (number of tons, annual)","Transport - Rails: Gauge (1-cape, 2-metre, 3-narrow, 4-standard, 5-meter/standard)",...,Transport - Rails: Traffic unit - freight - operated by private rail company (million net ton-km),Transport - Rails: Traffic unit - freight - operated by public rail company (million net ton-km),Transport - Rails: Traffic unit - net tonne-km (million),Transport - Rails: Traffic unit - passenger - long-distance (million passenger-km),Transport - Rails: Traffic unit - passenger - suburban (million passenger-km),Transport - Rails: Traffic unit - passenger and freight (million passenger-km+net tons-km),Transport - Rails: Traffic unit - passenger-km (million),Transport - Rails: Trip length per passenger - average (km per passenger),"Transport - Rails: Wagon productivity (1,000 net tonne-km per wagon)",Transport - Rails: Wagons (number)
0,1950,Low Income,Fragile,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,...,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021
1,1950,Low Income,Non-Fragile,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,...,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928
2,2000,Low Income,Fragile,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,...,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021
3,2000,Low Income,Non-Fragile,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,...,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928
4,2005,Low Income,Fragile,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,...,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054

In [141]:
railways_byeconomics.tail(5)

Series Name,year,Economic Status,Railways Status,"Transport - Rails: Carriage productivity (1,000 passenger-km per carriage)",Transport - Rails: Carriages (number),"Transport - Rails: Concessioned company (1-concessioned, 0-non-concessioned)",Transport - Rails: Employees (number),Transport - Rails: Employees - average 2000 to 2005 (number),"Transport - Rails: Freight (number of tons, annual)","Transport - Rails: Gauge (1-cape, 2-metre, 3-narrow, 4-standard, 5-meter/standard)",...,Transport - Rails: Traffic unit - freight - operated by private rail company (million net ton-km),Transport - Rails: Traffic unit - freight - operated by public rail company (million net ton-km),Transport - Rails: Traffic unit - net tonne-km (million),Transport - Rails: Traffic unit - passenger - long-distance (million passenger-km),Transport - Rails: Traffic unit - passenger - suburban (million passenger-km),Transport - Rails: Traffic unit - passenger and freight (million passenger-km+net tons-km),Transport - Rails: Traffic unit - passenger-km (million),Transport - Rails: Trip length per passenger - average (km per passenger),"Transport - Rails: Wagon productivity (1,000 net tonne-km per wagon)",Transport - Rails: Wagons (number)
1,1950,Low Income,Non-Fragile,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,...,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928
2,2000,Low Income,Fragile,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,...,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021,1993.999021
3,2000,Low Income,Non-Fragile,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,...,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928,1263.543928
4,2005,Low Income,Fragile,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,...,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054,1775.727054
5,2005,Low Income,Non-Fragile,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,...,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798,1304.542798

In [142]:
# Write pivot table to a csv file
railways_byeconomics.to_csv('Africa_RailwaysbyEconomics.csv', index=False)

In [143]:
# By African Countries Region
regions = ['SSA','SSA ', 'ECOWAS','COMESA','EAC','CEMA','SADC']

In [144]:
railwaysinfo_byregion = df[df['Country'].isin(regions)]

In [145]:
# Rename Country column
railwaysinfo_byregion.rename(columns={'Country':'Region'},inplace=True)

C:\Users\chimi\AppData\Local\Temp\ipykernel_19236\4056183543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  railwaysinfo_byregion.rename(columns={'Country':'Region'},inplace=True)

In [146]:
# Drop both columns
railwaysinfo_byregion.drop(columns=['Country Code','Code'],axis=1, inplace=True)

C:\Users\chimi\AppData\Local\Temp\ipykernel_19236\2306472655.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  railwaysinfo_byregion.drop(columns=['Country Code','Code'],axis=1, inplace=True)

In [147]:
pivotedrailwaysinfo_byregion = railwaysinfo_byregion.pivot_table(index=['year', 'Region'], columns='Series Name', values='Value')

In [148]:
pivotedrailwaysinfo_byregion = pivotedrailwaysinfo_byregion.reset_index()

In [149]:
pivotedrailwaysinfo_byregion.head(5)

Series Name,year,Region,"Transport - Rails: Carriage productivity (1,000 passenger-km per carriage)",Transport - Rails: Carriages (number),"Transport - Rails: Concessioned company (1-concessioned, 0-non-concessioned)",Transport - Rails: Employees (number),Transport - Rails: Employees - average 2000 to 2005 (number),"Transport - Rails: Freight (number of tons, annual)","Transport - Rails: Gauge (1-cape, 2-metre, 3-narrow, 4-standard, 5-meter/standard)","Transport - Rails: Labour productivity (1,000 traffic units per employee)",...,Transport - Rails: Traffic unit - freight - operated by private rail company (million net ton-km),Transport - Rails: Traffic unit - freight - operated by public rail company (million net ton-km),Transport - Rails: Traffic unit - net tonne-km (million),Transport - Rails: Traffic unit - passenger - long-distance (million passenger-km),Transport - Rails: Traffic unit - passenger - suburban (million passenger-km),Transport - Rails: Traffic unit - passenger and freight (million passenger-km+net tons-km),Transport - Rails: Traffic unit - passenger-km (million),Transport - Rails: Trip length per passenger - average (km per passenger),"Transport - Rails: Wagon productivity (1,000 net tonne-km per wagon)",Transport - Rails: Wagons (number)
0,1950,COMESA,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,...,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640,1183.753640
1,1950,EAC,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,...,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327,1266.324327
2,1950,ECOWAS,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,...,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524,841.196524
3,1950,SADC,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,...,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984,5461.313984
4,1950,SSA,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,...,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569,3933.821569

In [150]:
pivotedrailwaysinfo_byregion.to_csv('AfricaRailways_Regionaldata.csv', index=False)

In [151]:
# Railways Based on Ownership
ownerships = ['Non- Stated Owned Railways','State Owned Railways']

In [152]:
railways_byownerships = df[df['Country'].isin(ownerships)]

In [153]:
railways_byownerships.head(5)

,Country Code,Series Name,year,Value,Country,Code
223300,083,Transport - Rails: Carriages (number),2005,92.833240,Non- Stated Owned Railways,None
223301,083,Transport - Rails: Carriages (number),2005,2998.860962,Non- Stated Owned Railways,None
223302,083,Transport - Rails: Carriages (number),2005,4813.278505,Non- Stated Owned Railways,None
223303,083,Transport - Rails: Carriages (number),2005,3966.121298,Non- Stated Owned Railways,None
223304,083,Transport - Rails: Carriages (number),2005,911.100000,Non- Stated Owned Railways,None

In [154]:
# Drop Country Code and Code
railways_byownerships.drop(columns=['Country Code','Code'], inplace=True)

C:\Users\chimi\AppData\Local\Temp\ipykernel_19236\3165975806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  railways_byownerships.drop(columns=['Country Code','Code'], inplace=True)

In [155]:
# Rename Country Column
railways_byownerships.rename(columns={'Country':'Ownership'},inplace=True)

C:\Users\chimi\AppData\Local\Temp\ipykernel_19236\386727362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  railways_byownerships.rename(columns={'Country':'Ownership'},inplace=True)

In [156]:
# Pivot table
railways_byownerships = railways_byownerships.pivot_table(index=['year', 'Ownership'], columns='Series Name', values='Value')

In [157]:
railways_byownerships = railways_byownerships.reset_index()

In [158]:
railways_byownerships.head(5)

Series Name,year,Ownership,"Transport - Rails: Carriage productivity (1,000 passenger-km per carriage)",Transport - Rails: Carriages (number),"Transport - Rails: Concessioned company (1-concessioned, 0-non-concessioned)",Transport - Rails: Employees (number),Transport - Rails: Employees - average 2000 to 2005 (number),"Transport - Rails: Freight (number of tons, annual)","Transport - Rails: Gauge (1-cape, 2-metre, 3-narrow, 4-standard, 5-meter/standard)","Transport - Rails: Labour productivity (1,000 traffic units per employee)",...,Transport - Rails: Traffic unit - freight - operated by private rail company (million net ton-km),Transport - Rails: Traffic unit - freight - operated by public rail company (million net ton-km),Transport - Rails: Traffic unit - net tonne-km (million),Transport - Rails: Traffic unit - passenger - long-distance (million passenger-km),Transport - Rails: Traffic unit - passenger - suburban (million passenger-km),Transport - Rails: Traffic unit - passenger and freight (million passenger-km+net tons-km),Transport - Rails: Traffic unit - passenger-km (million),Transport - Rails: Trip length per passenger - average (km per passenger),"Transport - Rails: Wagon productivity (1,000 net tonne-km per wagon)",Transport - Rails: Wagons (number)
0,1950,Non- Stated Owned Railways,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,...,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768
1,1950,State Owned Railways,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,...,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003
2,2000,Non- Stated Owned Railways,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,...,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768,1007.003768
3,2000,State Owned Railways,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,...,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003,5338.636003
4,2005,Non- Stated Owned Railways,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,...,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110,1018.053110

In [159]:
railways_byownerships.to_csv('Africa_RailwaysbyOwnership.csv', index=False)